@{
    ViewData["Title"] = "Login";
}

<main class="form-signin w-50 m-auto">
    <form asp-action="Login" method="post" class="text-center">
        <img class="mb-2" src="https://img.freepik.com/premium-vector/luxury-university-logo-design_139869-120.jpg" alt="" width="150" height="170">
        <h1 class="h3 mb-3 fw-normal">Please Log In</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" name="email" placeholder="Your Email">
            <label for="floatingInput">Email address</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" Apologies for the incomplete response earlier. Here's the continuation of the code:
                   ```html
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <button class="btn btn-primary w-100 mt-2 py-2" type="submit">Log In</button>
    </form>
</main>