@{
    ViewData["Title"] = "Home Page";
}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Welcome To Optimum University</h1>
            <h3 class="lead text-body-secondary">Please Specify Below What Is You Main Role</h3>
            <p>
                <a href="#" class="btn btn-primary my-2">Student</a>
                <a href="#" class="btn btn-secondary my-2">Teacher</a>
            </p>
        </div>
    </div>
</section>

